html, body {
    height:100%;
}

* {
  /* prevent callout when holding tap on links (the native dialog that comes up) */
  -webkit-touch-callout: none;

  /* prevent webkit from resizing text to fit */
  -webkit-text-size-adjust: none;

  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-user-select: none;
}

.pane {
    width:100%;
}

ul.items li {
    overflow:hidden;
}

ul li div {
    width:100%;
    border-top:1px solid #eee;
    padding: 5px 2px 0px 5px;
}

ul#sections li div {
    padding: 5px 2px 5px 5px;
}

ul.items li.title.active {
    background:#444;
    text-shadow:0 0 2px #000;
    color:#eee;
}

ul.items li.section.active {
    text-shadow:0 0 2px #000;
    background:#666;
    color:#eee;
}

ul.items li.active span {
    color:#eee;
}

ul.items li.active div {
    border-top:none;
}

ul.items li.repealed {
    color:#888;
}

.number {
    width:20px;
    text-align:right;
    display:block;
    float:left;
}

.name {
    margin-left:30px;
    display:block;
}

.section-number {
    color:#777;
    margin-right:5px;
    margin-left:5px;
}

.content h1 {
    border-bottom:1px solid #ccc;
    margin-bottom:0;
}

#section.loading {
    opacity:0.5;
}

div section:first-child {
    border-top:none;
}

section {
    border-top:1px solid #eee;
    padding:10px 5px;
}

section.section-2 {
    margin-left:10px;
}

section.section-3 {
    margin-left:20px;
}

section .section-prefix {
    display:inline-block;
    margin-right:5px;
    color:#777;
}
